.icon-link {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   background-color: var(--biege-2);
   border-radius: 2px;
   transition: all 0.2s ease 0s;
   color: var(--black);
   &.active {
      background-color: var(--biege);
      color: var(--green-accent);
   }
   &:hover {
      background-color: var(--biege);
      color: var(--green-accent);
   }
}

.button-small {
   padding: 12px;
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--white);
   border: 4px solid var(--white);
   background-color: var(--green-accent);
   &:hover {
      background-color: var(--green-dark);
   }
}
