input[type='radio'] {
   width: 24px;
   height: 24px;
   border-radius: 50%; /* Делаем круг */
   display: inline-block;
   background-color: var(--biege-2);
   cursor: pointer;
}
input[type='radio']:checked {
   width: 16px;
   height: 16px;
   border-radius: 50%; /* Делаем круг */
   background-color: var(--green-accent);
   border: 4px solid var(--biege-2);
}

input[type='checkbox'] {
   width: 16px;
   height: 16px;
   background-color: var(--biege-2);
   border-radius: 2px;
   display: inline-block;
   position: relative;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

input[type='checkbox']:checked::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 6px;
   height: 3px;
   border: solid var(--black);
   border-width: 0 2px 2px 0;
   transform: translate(-50%, -50%) rotate(135deg) scaleY(-1);
}
