.product {
   padding: 24px 0 48px 0;
   display: flex;
   gap: 25px;
   justify-content: space-between;
   @media (max-width: 767px) {
      display: grid;
      gap: 20px;
      padding: 32px 0 44px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
   }
   &__images {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 470px);
      @media (max-width: 992px) {
         grid-template-rows: repeat(3, 1fr);
      }
      @media (max-width: 767px) {
         display: none;
      }
   }
   &__images-mobile {
      display: none;
      @media (max-width: 767px) {
         display: flex;
      }
   }
   // .product__image

   &__image {
      width: 100%;
      height: 100%;
      @media (max-width: 767px) {
         // flex: 0 0 300px;
         flex: none;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .product__content

   &__content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 48px;
      width: 50%;
      @media (max-width: 767px) {
         width: 100%;
      }
   }

   &__about {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 32px;
   }

   // .product__header

   &__header {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
   }

   // .product__heading

   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
   }

   // .product__title

   &__title {
      @media (max-width: 992px) {
         font-size: 32px;
      }
      @media (max-width: 500px) {
         font-size: 20px;
      }
   }

   // .product__like

   &__like {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: var(--black);
   }

   // .product__info

   &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
   }

   // .product__price

   &__price {
      font-size: 16px;
      font-weight: 600;
      color: var(--green-accent);
   }

   // .product__id

   &__id {
      color: var(--black-2);
   }

   // .product__slider

   &__slider {
      position: relative;
      width: 98%;
   }

   // .product__button

   &__button {
      max-width: 373px;
      width: 100%;
      padding: 16px;
      background-color: var(--green-accent);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: var(--white);
      font-size: 15px;
      font-weight: 600;
      border-radius: 3px;
      transition: all 0.2s ease 0s;
      svg {
         width: 24px;
         height: 24px;
      }

      &:hover {
         background-color: var(--green-dark);
      }
      &:disabled {
         background-color: var(--gray);
      }

      @media (max-width: 767px) {
         max-width: 100%;
      }
   }

   // .product__description

   &__description {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
      max-width: 373px;
      width: 100%;
      @media (max-width: 767px) {
         max-width: 100%;
      }
   }

   // .product__text

   &__text {
      font-size: 20px;
   }

   &__paragraph {
      color: var(--black-2);
   }
}

.characteristics {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 10px;
   max-width: 524px;
   width: 100%;
   @media (max-width: 767px) {
      gap: 32px;
      max-width: 100%;
   }

   // .characteristics__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 12px;
      @media (max-width: 500px) {
         gap: 8px;
      }
   }

   // .characteristics__heading

   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .characteristics__title

   &__title {
      color: var(--black-2);
      font-size: 12px;
      text-transform: uppercase;
   }

   // .characteristics__button

   &__button {
      position: relative;
      margin-bottom: 4px;
      color: var(--black);
      &::after {
         display: block;
         content: '';
         position: absolute;
         bottom: -4px;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: var(--black);
      }
   }

   // .characteristics__options

   &__options {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 8px;
   }

   // .characteristics__element

   &__element {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--biege-2);
      transition: all 0.2s ease 0s;
      border-radius: 2px;
      &.size {
         font-size: 12px;
         color: var(--black-2);
         width: 44px;
         height: 30px;
      }

      &.palette {
         gap: 4px;
         padding: 8px 16px;
         color: var(--black);
      }

      &:hover,
      &.active {
         background-color: var(--biege);
         color: var(--green-accent);
      }
   }

   &__color {
      width: 16px;
      height: 16px;
      border-radius: 50%;

      &.white {
         background-color: var(--white);
      }

      &.gray {
         background-color: var(--gray);
      }
      &.black {
         background-color: var(--black);
      }
   }
}

.recommended {
   padding-bottom: 120px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 24px;
   @media (max-width: 767px) {
      padding-bottom: 86px;
      gap: 16px;
   }
   // .recommended__title

   &__title {
      @media (max-width: 767px) {
         font-size: 16px;
      }
   }

   // .recommended__grid

   &__grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      @media (max-width: 767px) {
         grid-template-columns: repeat(2, 1fr);
         margin-bottom: 8px;
      }
      @media (max-width: 390px) {
         grid-template-columns: repeat(1, 1fr);
      }

      &.hidden {
         max-height: 405px;
         overflow: hidden;
      }
   }

   // .recommended__button
}
