.orders {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 24px;
}
.order {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 4px;

   &.hidden {
      .order__body {
         //  transition: max-height 0.3s ease, opacity 0.4s ease;
         //  overflow: hidden;
         //  max-height: 0;
         //  opacity: 0;
         //  padding: 0;
         //  width: 0;
         //  visibility: hidden;
         //  position: relative;
         //  z-index: -999;

         display: none;
      }
      .order__button {
         transform: rotate(180deg);
      }
   }
   // .order__header
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--green-accent);
      border-radius: 3px;
      background-color: var(--biege-2);
      padding: 16px;
      cursor: pointer;
   }

   // .order__number

   &__number {
      display: flex;
      align-items: center;
      gap: 8px;
   }

   // .order__info

   &__info {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
   }

   // .order__amount

   &__amount {
      color: var(--black-2);
   }

   &__button {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--green-accent);
      transition: all 0.3s ease-in 0s;
      transform: rotate(180deg);
      svg {
         width: 16px;
         height: 10px;
      }
   }

   // .order__body

   &__body {
      border-radius: 3px;
      background-color: var(--biege-2);
      padding: 16px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;

      // overflow: hidden;
      // transition: max-height 0.3s ease, opacity 0.4s ease;
      // max-height: 500px;
      // opacity: 1;
   }
}

.ordered-goods {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 10px;
   // .ordered-goods__title

   &__title {
      font-size: 16px;
      font-weight: 600;
   }
}

.order-tabs {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 28px; // .order-tabs__header
   &__header {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
   }

   // .order-tabs__button

   &__button {
      position: relative;
      color: var(--black-2);
      font-weight: 600;
      font-size: 16px;
      transition: all 0.3s ease-in 0s;
      &::after {
         content: '';
         position: absolute;
         bottom: -4px;
         left: 0;
         width: 0px;
         height: 1px;
         background-color: var(--green-accent);
         transition: all 0.3s ease-in 0s;
      }

      &:hover,
      &.active {
         color: var(--green-accent);

         &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--green-accent);
         }
      }
   }

   // .order-tabs__content

   &__content {
      display: none;

      &.active {
         display: grid;
      }
   }

   &__status {
      gap: 12px;
      align-items: stretch;
   }
}

.delivery-details {
   grid-auto-flow: column;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   gap: 14px;

   &__field {
      display: flex;
      flex-direction: column;
      gap: 4px;
   }

   &__title {
      color: var(--black-2);
      text-transform: uppercase;
      font-size: 12px;
   }
}

.cancel-details {
   // .cancel-details__form

   &__form {
      gap: 15px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
   }

   // .cancel-details__fieldset

   &__fieldset {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
   }

   // .cancel-details__field

   &__field {
   }

   // .cancel-details__legend

   &__legend {
      color: var(--black-2);
      font-size: 12px;
      text-transform: uppercase;
      padding-left: 8px;
      margin-bottom: 4px;
   }

   &__select {
      margin-bottom: 16px;
   }

   // .cancel-details__text

   &__text {
      color: var(--black-2);
      a {
         text-decoration: underline;
         color: var(--black);
      }
   }
   &__textarea {
      resize: none;
      padding: 16px;
      border-radius: 3px;
      background-color: var(--white);
      min-height: 86px;
      width: 100%;
      color: var(--gray);
   }

   // .cancel-details__button

   &__button {
      align-self: flex-end;
   }
}

.cancel-select {
   position: relative;

   &.open {
      .cancel-select__options {
         display: flex;
      }
      .cancel-select__icon {
         transform: rotate(0deg);
      }
   }
   // .cancel-select__selected

   &__selected {
      padding: 16px;
      background-color: var(--white);
      color: var(--gray);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      border-radius: 3px;
   }

   &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      box-orient: vertical;
   }

   // .cancel-select__options

   &__options {
      position: absolute;
      top: 100%;
      transform: translateY(8px);
      width: 100%;
      background-color: var(--white);
      border-radius: 3px;
      color: var(--gray);
      display: none;
      flex-direction: column;
      align-items: stretch;
      z-index: 10;
   }

   &__option {
      padding: 8px 16px;
      transition: all 0.2s ease 0s;

      &:hover {
         cursor: pointer;
         background-color: var(--gray);
         color: var(--white);
      }
   }

   &__icon {
      flex: 0 0 16px;
      width: 16px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--green-accent);
      transition: all 0.2s ease 0s;
      transform: rotate(180deg);
   }
}

.questions-details {
   gap: 8px;
   // .questions-details__contacts
   &__contacts {
      display: grid;
      gap: 48px;
      grid-template-columns: 1fr 1fr 2fr;
   }

   // .questions-details__column

   &__column {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   // .questions-details__title

   &__title {
      color: var(--black-2);
      font-size: 12px;
      text-transform: uppercase;
   }

   // .questions-details__list

   &__list {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }

   // .questions-details__item

   &__item {
   }

   // .questions-details__row

   &__row {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   // .questions-details__social-list

   &__social-list {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      align-items: center;

      a {
         width: 24px;
         height: 24px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   // .questions-details__input

   &__input {
      font-size: 16px;
      color: var(--gray);
      border-radius: 3px;
      background-color: var(--white);
      padding: 16px;
   }

   // .questions-details__button

   &__button {
      justify-self: end;
   }
}
