<div class="product-card">
    <a class='icon-link product-card__icon' href="#">

        <svg class="icon" width='24' height='24' viewBox="0 0 24 24" fill="none">
            <use href='./src/assets/svg/sprite.svg#icon-like'></use>
        </svg>

    </a>

    <a href='#' class="product-card__image">
        <img src="./src/assets/img/products/product-1.png" alt="Shoe image">
    </a>
    <div class="product-card__content">
        <div class="product-card__info">
            <h5 class="product-card__title">THERE Skateboards x Nike Dunk Low SB 'Ultra Humanized'</h5>
            <div class="product-card__description">
                <div class="product-card__size">EU 42-44</div>
                <div class="product-card__price">Від 160$</div>

            </div>

        </div>
        <button class="product-card__button">
            <svg class="icon" width='24' height='24' viewBox="0 0 24 24" fill='none'>
                <use href='./src/assets/svg/sprite.svg#icon-basket'></use>
            </svg>
        </button>

    </div>

</div>