@font-face {
   font-family: 'Unbounded';
   src: url('fonts/Unbounded-Regular.eot');
   src: url('fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Unbounded-Regular.woff2') format('woff2'),
      url('fonts/Unbounded-Regular.woff') format('woff'),
      url('fonts/Unbounded-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gill Sans';
   src: url('fonts/GillSans-SemiBold.eot');
   src: url('fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/GillSans-SemiBold.woff2') format('woff2'),
      url('fonts/GillSans-SemiBold.woff') format('woff'),
      url('fonts/GillSans-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gill Sans';
   src: url('fonts/GillSans.eot');
   src: url('fonts/GillSans.eot?#iefix') format('embedded-opentype'),
      url('fonts/GillSans.woff2') format('woff2'),
      url('fonts/GillSans.woff') format('woff'),
      url('fonts/GillSans.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gill Sans';
   src: url('fonts/GillSans-SemiBoldItalic.eot');
   src: url('fonts/GillSans-SemiBoldItalic.eot?#iefix')
         format('embedded-opentype'),
      url('fonts/GillSans-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/GillSans-SemiBoldItalic.woff') format('woff'),
      url('fonts/GillSans-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}
