:root {
   /* Colors */
   --green-accent: #385e0f;
   --green-dark: #253c0c;
   --red: #620808;
   --biege: #e2d6c8;
   --biege-2: #f9f7f4;
   --gray: #7b7c7a;
   --gray-hover: #9ea39a;
   --white: #ffffff;
   --black: #0b1104;
   --black-2: #5d5e5c;
   --indigo: #5856d6;

   /* Fonts */
   --font-title: 'Unbounded';
   --font-primary: 'Gill Sans';
}
